<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<h1>Chez OO Menu</h1>
<input type="text" id="box" value=""> <br>

<% categories.forEach(function(category) { %>
<label style="font-weight:bold"><%= category %></label><br>
<ul class="menu">
    <% dishes.forEach(function(dish) { %>
    <% if (dish.category == category) { %><li data-tags=<%=dish.tags%>><%= dish.name %>: <%= dish.description %><i> $<%= dish.price %></i> </li> <% }%>
    <% }); %>
</ul>
<% }); %>

<script type='text/javascript'>
  $('#box').keyup(function () {
    var input = $(this).val().toLowerCase();
    console.log(input);
    $('.menu>li').each(function () {
      var text = $(this).text().toLowerCase();
      var tags = $(this).attr("data-tags");
      ((text.indexOf(input) >= 0)|| (tags.indexOf(input) >= 0)) ? $(this).show() : $(this).hide();
    })
  });

  $(document).ready(function () {
    $('.menu>li').each(function () {
      var tags = $(this).attr("data-tags");
      var keys = Object.keys(localStorage);
      keys = keys.filter(function (key) {return localStorage.getItem(key) === "true"});
      console.log(keys);
      if(!keys.every(function (key) { return tags.includes(key) })){
        $(this).hide();
      }
    })
  })
</script>